body {
  background-image: url(./images/header_bg.svg), url(./images/use-bg2.svg);
  background-position: top 100px left 20px, top 460px right 50px;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #191765;
  color: #fff;
}

.theme{
  font-size: 300%;
  font-weight: bold;
}

.purple {
  color: #9391ff;
}



.btn {
  background: #9390ff;
  padding: 0 12px 0 12px;
  color: white;
}

.bg-purple {
  background-color: #9391ff;
}

.pro .one {
  margin-top: 2rem;
}

