body {
  background: #191765;
  color: #fff;
}
.theme{
  font-size: 300%;
  font-weight: bold;
}

.purple {
  color: #9391ff;
}

.bg-purple {
  background-color: #9391ff;
}

.pro .one {
  margin-top: 2rem;
}
