body {
  background: #191765;
}
.theme{
  color: #9391ff;
  font-size: 6rem;
  font-weight: bold;
}

.lang p {
  color: #9391ff;
}

.contact-form h2 {
  color: #9390ff;
}

.btn {
  background: #9390ff;
  padding: 0 12px 0 12px;
  color: white;
}